.footer{
    display: flex;
    flex-direction: column;
    margin-top: 8%;
    margin-left: 5%;
    width: 93%;
}
.footer-bottom{
    background-color: rgb(77, 75, 75);
    width: 100%;
    padding: 1%;
    
}
.text-center{
    color: white;
}